%h1 Listing listenings

%table
  %tr
    %th User
    %th Music
    %th When
    %th Latitude
    %th Longitude
    %th
    %th
    %th

  - @listenings.each do |listening|
    %tr
      %td= listening.user_id
      %td= listening.music_id
      %td= listening.when
      %td= listening.latitude
      %td= listening.longitude
      %td= link_to 'Show', listening
      %td= link_to 'Edit', edit_listening_path(listening)
      %td= link_to 'Destroy', listening, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Listening', new_listening_path
