%p#notice= notice

%p
  %b User:
  = @listening.user_id
%p
  %b Music:
  = @listening.music_id
%p
  %b When:
  = @listening.when
%p
  %b Latitude:
  = @listening.latitude
%p
  %b Longitude:
  = @listening.longitude

= link_to 'Edit', edit_listening_path(@listening)
\|
= link_to 'Back', listenings_path
