= form_for @concert do |f|
  - if @concert.errors.any?
    #error_explanation
      %h2= "#{pluralize(@concert.errors.count, "error")} prohibited this concert from being saved:"
      %ul
        - @concert.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :planification
    = f.datetime_select :planification
  .field
    = f.label :address_id
    = f.number_field :address_id
  .field
    = f.label :url
    = f.text_field :url
  .actions
    = f.submit 'Save'
