%h1 Listing concerts

%table
  %tr
    %th User
    %th Planification
    %th Address
    %th Url
    %th
    %th
    %th

  - @concerts.each do |concert|
    %tr
      %td= concert.user_id
      %td= concert.planification
      %td= concert.address_id
      %td= concert.url
      %td= link_to 'Show', concert
      %td= link_to 'Edit', edit_concert_path(concert)
      %td= link_to 'Destroy', concert, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Concert', new_concert_path
