= form_for @influence do |f|
  - if @influence.errors.any?
    #error_explanation
      %h2= "#{pluralize(@influence.errors.count, "error")} prohibited this influence from being saved:"
      %ul
        - @influence.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
