%h1 Listing music_notes

%table
  %tr
    %th User
    %th Album
    %th Value
    %th
    %th
    %th

  - @music_notes.each do |music_note|
    %tr
      %td= music_note.user_id
      %td= music_note.album_id
      %td= music_note.value
      %td= link_to 'Show', music_note
      %td= link_to 'Edit', edit_music_note_path(music_note)
      %td= link_to 'Destroy', music_note, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Music note', new_music_note_path
