= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .row
    .small-6.small-centered.columns.left
      .field
        = f.label :email
        = f.text_field :email
      .field
        = f.label :password
        = f.text_field :password
      .field
        = f.label :fname
        = f.text_field :fname
      .field
        = f.label :lname
        = f.text_field :lname
      .field
        = f.label :username
        = f.text_field :username
      .field
        = f.label :birthday
        = f.date_select :birthday
      .field
        = f.label :image
        = f.text_field :image
      .field
        = f.label :description
        = f.text_area :description
    .small-6.small-centered.columns.right
      .field
        = f.label :phoneNumber
        = f.text_field :phoneNumber
      .field
        = f.label :address_id
        = f.number_field :address_id
      .field
        = f.label :facebook
        = f.text_field :facebook
      .field
        = f.label :twitter
        = f.text_field :twitter
      .field
        = f.label :googlePlus
        = f.text_field :googlePlus
      .field
        = f.label :newsletter
        = f.check_box :newsletter
      .field
        = f.label :language
        = f.text_field :language
      .actions
        = f.submit 'Save'
