= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation.hide
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul.hide
        - @user.errors.full_messages.each do |msg|
          %li.hide
            = msg
  .row
    .contain-to-grid
      .large-12.small-8.columns
        .panel
          %h3.subheader
            Informations Public
          .row
            .large-3.small-3.columns.inline
              = f.label :username
            .small-9.columns
              = f.text_field :username, :class => "radius"
            .large-3.small-3.columns.inline
              = f.label :description
            .small-9.columns
              = f.text_area :description, :class => "radius"
            .large-3.small-3.columns
              = f.label :birthday
            .small-9.columns
              = f.date_select :birthday, :class => "medium-3 columns radius inline"
            .large-3.small-3.columns
              = f.label :image
            .small-9.columns
              = f.text_field :image, :class => "radius"
            .large-3.small-3.columns
              = f.label :background
            .small-9.columns
              = f.text_field :background, :class => "radius"
            .large-3.small-3.columns
              = f.label :facebook
            .small-9.columns
              = f.text_field :facebook, :class => "radius"
            .large-3.small-3.columns
              = f.label :twitter
            .small-9.columns
              = f.text_field :twitter, :class => "radius"
            .large-3.small-3.columns
              = f.label :googlePlus
            .small-9.columns
              = f.text_field :googlePlus, :class => "radius"
          %h3.subheader
            Informations Personnel
          .row
            .large-3.small-3.columns.inline
              = f.label :prénom
            .small-9.columns
              = f.text_field :fname, :class => "radius"
            .large-3.small-3.columns.inline
              = f.label :nom
            .small-9.columns
              = f.text_field :lname, :class => "radius"
            .large-3.small-3.columns.inline
              = f.label :password
            .small-9.columns
              = f.text_field :password, :type => "password", :class => "radius"
              %small.error
                Password Can't be blank
            .large-3.small-3.columns.inline
              = f.label :téléphone
            .small-9.columns
              = f.text_field :phoneNumber, :class => "radius"
            .large-3.small-3.columns.inline
              = f.label :newsletter
            .small-9.columns
              = f.check_box :newsletter, :class => "radius"
            .large-3.small-3.columns.inline
              = f.label :language
            .small-9.columns
              = f.text_field :language, :class => "radius"
          .actions
            .large-4.columns.large-centered
              = f.submit 'Save', :class => "button radius expand success"