.row
  #add-email.container
    %h1 Finalisation de l'inscription
    = form_for(current_user, :as => 'user', :url => finish_signup_path(current_user), :html => { role: 'form'}) do |f|
      - if @show_errors && current_user.errors.any?
        #error_explanation
          - current_user.errors.full_messages.each do |msg|
            = msg
            %br/
      .form-group
        .controls
          .field
            = f.label :email
            = f.text_field :email, :autofocus => true, :value => UsersHelper.validate_email_for_oauth(current_user), class: 'form-control input-lg', placeholder: 'Example: email@me.com', disabled: ((UsersHelper.validate_email_for_oauth(current_user) != "") ? true : false)
          .field
            = f.label :username
            = f.text_field :username, :autofocus => true, :value => UsersHelper.validate_username_for_oauth(current_user), class: 'form-control input-lg'
          .field
            = f.label :fname
            = f.text_field :fname, :autofocus => true, :value => current_user.fname, class: 'form-control input-lg'
          .field
            = f.label :lname
            = f.text_field :lname, :autofocus => true, :value => current_user.lname, class: 'form-control input-lg'
          .field
            = f.label :birthday
            = f.date_select :birthday, :autofocus => true, :value => current_user.birthday, :start_year=>1900, :end_year=>2005, class: 'form-control input-lg'
      .actions
        = f.submit 'Continue', :class => 'btn btn-primary'