.row
  /#notice= notice
  .background-profil
    .photo-profil-user.text-center
      =image_tag(@user.image, "class" => "photo-profil-user")
    .username.text-center
      = @user.username
    .nb-followers.text-center
      = @user.followers.size
      %b followers
    .social-network.text-center
      %b Facebook:
      = @user.facebook
      %b Twitter:
      = @user.twitter
      %b Googleplus:
      = @user.googlePlus
  .small-6.small-centered.columns.left
    %p
      %b Email:
      = @user.email
    %p
      %b Password:
      = @user.password
    %p
      %b Salt:
      = @user.salt
    %p
      %b Fname:
      = @user.fname
    %p
      %b Lname:
      = @user.lname
    %p
      %b Username:
      = @user.username
    %p
      %b Birthday:
      = @user.birthday
    %p
      %b Image:
  .small-6.small-centered.columns.right
    %p
      %b Description:
      = @user.description
    %p
      %b Phonenumber:
      = @user.phoneNumber
    %p
      %b Idapi:
      = @user.idAPI
    %p
      %b Securekey:
      = @user.secureKey
    %p
      %b Newsletter:
      = @user.newsletter
    %p
      %b Language:
      = @user.language

  = link_to 'Edit', edit_user_path(@user)
  \|
  = link_to 'Back', users_path
