!!! 5
%html
  %head
    %title= "SoonZik | Welcome"
    %base{href: "/"}
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application'
    = javascript_include_tag 'websocket_rails/main', 'data-turbolinks-track' => true
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags

  %body{ "ng-app" => "SoonzikApp" }
    %header.contain-to-grid
      %nav.top-bar{"data-topbar" => "", :role => "navigation"}
        %ul.title-area
          %li.name
            =link_to image_tag("logo-soonzik.png", :class => "soonzik-logo"), "http://lvh.me:3000"
            %li.toggle-topbar.menu-icon
              %a{:href => "#"}
                %span Menu
          %section.top-bar-section
            %ul.left
              %li.has-form
                .row.collapse
                  .large-5.small-5.columns
                    =image_tag "loupe.png", :class => "loupe"
                    %input.radius{:placeholder => "Search users, musics, albums...", :type => "text"}
                  .large-4.small-3.columns
                    %a.alert.button.expand.radius{:href => "#"} Search
            %ul.right
              - if user_signed_in?
                %li.has-dropdown{"is_hover" => "true", "data-options" => "align:right"}
                  =image_tag "menu.png", :class => "menu-logo"
                  %ul.dropdown
                    %li
                      = link_to('Modifier le profil (DONE)', edit_user_path(current_user))
                      = link_to('News (IN PROGRESS)', news_index_path)
                      %a Explorer
                      = link_to('Packs (IN PROGRESS)', packs_path)
                      %a Monde Musical
                      = link_to('Battle (IN PROGRESS)', battles_path)
                      %a Amis (IN PROGRESS)
                      = link_to('Logout', destroy_user_session_path, :method => :delete)
                =image_tag ("usersImage/avatars/" + current_user.image), :class => "photo-profile"              
                .profile
                  %p
                    = link_to(UsersHelper.validate_username_for_oauth(current_user), user_path(current_user), :class => "profile")
              - else
                .large-12.small-10.columns
                  %li
                    %a.button.expand.radius{:href => new_user_registration_path, :class => "sign-up", :target => "_self" } Sign Up
                  %li
                    %a.button.secondary.expand.radius{:href => new_user_session_path, :class => "log-in info", :target => "_self" } Log In
    %main.row
      - if notice
        %small.error= notice
      -if alert
        %small.error= alert
      .large-12{"ng-view" => true}
      =yield
      - if user_signed_in?  
        #chat{ "ng-include" => "'#{asset_path('AngularJS/views/chat.html.haml')}'" }

    %footer
      .container
        #player-container{ "ng-include" => "'#{asset_path('AngularJS/views/others/player.html.haml')}'" }