!!! 5
%html
  %head
    %title= "SoonZik | Welcome"
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    @controller, media: 'all', 'data-turbolinks-track' => true if @controller != ""
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag @controller, 'data-turbolinks-track' => true if @controller != ""
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags

  %header.contain-to-grid
    %nav.top-bar{"data-topbar" => "", :role => "navigation"}
      %ul.title-area
        %li.name
          %a
            =link_to image_tag("logo-soonzik.png", :class => "soonzik-logo"), "http://lvh.me:3000"
          %li.toggle-topbar.menu-icon
            %a{:href => "#"}
              %span Menu
        %section.top-bar-section
          %ul.left
            %li.has-form
              .large-5.small-5.columns
                =image_tag "loupe.png", :class => "loupe"
                %input{:placeholder => "Recherchez des Shtroumpfs, musiques, personnes", :type => "text"}
          %ul.right
            =@session
            - if user_signed_in?
              %li.has-dropdown{"is_hover" => "true", "data-options" => "align:right"}
                =image_tag "menu.png", :class => "menu-logo"
                %ul.dropdown
                  %li
                    = link_to('Modifier le profil', edit_user_path(current_user))
                    %a News
                    %a Explorer
                    %a Packs
                    %a Monde Musical
                    %a Battle
                    %a Playlist
                    %a Amis
                    = link_to('Logout', destroy_user_session_path, :method => :delete)
              =image_tag current_user.image, :class => "photo-profile"              
              .profile
                %p
                  = link_to(current_user.username, user_path(current_user), :class => "profile")
            - else
              %li.has-dropdown{"is_hover" => "true"}
                =image_tag "menu.png", :class => "menu-logo"
                %ul.dropdown
                  %li
                    = link_to('Login', new_user_session_path)
  %body
    %main
      =yield

    %footer
      .container
        #demo
          #player.large-12.small-9
            =image_tag "stefan-bodzin.jpg", :class => "picture"
            #button-player-left.large-12.small-9
              .controls
                =image_tag "rewind.png"
                =image_tag "play.png",{"role" => "button", "id" => "play", "class" => "btn btn-primary", "data-action" => "play"}
                =image_tag "forward.png"
                =image_tag "sound.png", :class => "sound"
                =image_tag "shuffle.png"


            #waveform-container
              #waveform
                .progress.progress-striped.active#progress-bar
                  .progress-bar.progress-bar-info

            #button-player-right.large-12.small-9
              =image_tag "playlist.png"
              =image_tag "social.png"
      