!!! 5
%html
  %head
    %title= "SoonZik | Welcome"
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    @controller, media: 'all', 'data-turbolinks-track' => true if @controller != ""
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag @controller, 'data-turbolinks-track' => true if @controller != ""
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags

  %header.contain-to-grid
    %nav.top-bar{"data-topbar" => "", :role => "navigation"}
      %ul.title-area
        %li.name
          %a
            =link_to image_tag("logo-soonzik.png", :class => "soonzik-logo"), "http://lvh.me:3000"
          %li.toggle-topbar.menu-icon
            %a{:href => "#"}
              %span Menu
        %section.top-bar-section
          %ul.right
            %p
              =@session
              - if user_signed_in?
                =image_tag "stefan-bodzin.jpg", :class => "photo-profile"
                .profile
                  %p
                    %a.name Stefan Bodzin
                  %p
                    %a.modify Modifier le profil
                %li.has-dropdown{"is_hover" => "true"}
                  =image_tag "menu.png", :class => "menu-logo"
                  %ul.dropdown
                    %li
                      %a Test 1
                      %a TesT 2
                      %a Test 3
                      = link_to('Logout', destroy_user_session_path, :method => :delete)
              - else
                %li.has-dropdown{"is_hover" => "true"}
                  =image_tag "menu.png", :class => "menu-logo"
                  %ul.dropdown
                    %li
                      = link_to('Login', new_user_session_path)
                      %a Test 1
                      %a TesT 2
                      %a Test 3

          %ul.left
            %li.has-form
              .large-5.small-5.columns
                =image_tag "loupe.png", :class => "loupe"
                %input{:placeholder => "Recherchez des Shtroumpfs, musiques, personnes", :type => "text"}
  %body
    =yield

  %footer
    #player.large-12.small-9
      =image_tag "stefan-bodzin.jpg", :class => "picture"
      #button-player-left.large-12.small-9
        =image_tag "rewind.png"
        =image_tag "play.png", :class => "play"
        =image_tag "forward.png"
        =image_tag "sound.png", :class => "sound"
        =image_tag "shuffle.png"
      .player-time-begin
        0:34
      .slider-player
      .player-time-left
        2:50
      #button-player-right.large-12.small-9
        =image_tag "playlist.png"
        =image_tag "social.png"
      