!!! 5
%html
  %head
    %title= "SoonZik | Welcome"
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    @controller, media: 'all', 'data-turbolinks-track' => true if @controller != ""
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag @controller, 'data-turbolinks-track' => true if @controller != ""
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags

  %header.contain-to-grid
    %nav.top-bar{"data-topbar" => "", :role => "navigation"}
      %ul.title-area
        %li.name
          %a
            =image_tag  "logo-soonzik.png", :class => "soonzik-logo"
          %li.toggle-topbar.menu-icon
            %a{:href => "#"}
              %span Menu
        %section.top-bar-section
          %ul.left
            %li.has-form
              .row.collapse
                .large-12.small-9.columns
                  =image_tag "loupe.png", :class => "loupe"
                  %input{:placeholder => "Recherchez des Shtroumpfs, musiques, personnes", :type => "text"}
          // Right Nav Section
          %ul.right
            =image_tag "stefan-bodzin.jpg", :class => "photo-profile"
            .profile
              %p Stefan Bodzin
              %a Modifier le profil
            =image_tag "menu.png", :class => "menu"
  %body
    %p
      %p= @session
      - if user_signed_in?
        %li
          = link_to('Logout', destroy_user_session_path, :method => :delete)
      - else
        %li
          = link_to('Login', new_user_session_path)
    =yield