.row
  .small-6.small-centered.columns
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, :class => "devise" }) do |f|
      = devise_error_messages!
      = f.hidden_field :reset_password_token
      .panel.login 
        .text-center.black
          .field
            = f.label :password, "{{ labels.DISPLAY_SIGNIN_NEWPASSWORD_LABEL }}"
            = f.password_field :password, autofocus: true, autocomplete: "off"
          .field
            = f.label :password_confirmation, "{{ labels.DISPLAY_SIGNIN_CONFIRM_NEWPASSWORD_LABEL }}"
            = f.password_field :password_confirmation, autocomplete: "off"
          .actions
            = f.submit "{{ labels.DISPLAY_SIGNIN_SEND_LABEL }}"
        .divider
        .links
          = render "devise/shared/links"
