.row
  .small-6.small-centered.columns
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, :class => "devise" }) do |f|
      = devise_error_messages!
      .panel.login 
        .text-center.black
          %h5 {{ labels.DISPLAY_SIGNIN_PASSWORD_FORGOTTEN_LABEL }}
        .divider
        .field
          = f.email_field :email, autofocus: true, :placeholder => "{{ labels.DISPLAY_SIGNIN_MAIL_PLACEHOLDER }}", :class => "radius"
        .actions
          = f.submit "{{ labels.DISPLAY_SIGNIN_SEND_LABEL }}", :class => "button expand radius"
        .divider
        .links
          = render "devise/shared/links"
