.title
	%h2 Meet Page
	%span.byline You can find artists to contact for partnership
.meetContainer
	%h3 What artists search
	- if @meetSearch.size > 0
		%table
			%thead
				%tr
					%th
						Profession
					%th
						For what
					%th
						From
					%th
						To
					%th
						Location
					%th
						Email
					%th
						By
			%tbody
				- @meetSearch.each do |m|
					%tr
						%td= m.profession
						%td= m.what
						%td= m.fromDate
						%td= m.toDate
						%td= m.location
						%td= m.email
						%td
							=link_to m.user.username, user_path(m.user)
	- else
		%p Nothing for the moment
	%h3 What artists propose
	- if @meetPropose.size > 0
		%table
			%thead
				%tr
					%th
						Profession
					%th
						For what
					%th
						From
					%th
						To
					%th
						Location
					%th
						Email
					%th
						By
			%tbody
				- @meetPropose.each do |m|
					%tr
						%td= m.profession
						%td= m.what
						%td= m.fromDate
						%td= m.toDate
						%td= m.location
						%td= m.email
						%td
							=link_to m.user.username, user_path(m.user)
	- else
		%p Nothing for the moment