%p#notice= notice

%p
  %b User:
  = @notification.user_id
%p
  %b Link:
  = @notification.link
%p
  %b Description:
  = @notification.description

= link_to 'Edit', edit_notification_path(@notification)
\|
= link_to 'Back', notifications_path
