= form_for @newstext do |f|
  - if @newstext.errors.any?
    #error_explanation
      %h2= "#{pluralize(@newstext.errors.count, "error")} prohibited this newstext from being saved:"
      %ul
        - @newstext.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :content
    = f.text_area :content
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :language
    = f.text_field :language
  .field
    = f.label :news_id
    = f.number_field :news_id
  .actions
    = f.submit 'Save'
