%h1 Listing newstexts

%table
  %tr
    %th Content
    %th Title
    %th Language
    %th News
    %th
    %th
    %th

  - @newstexts.each do |newstext|
    %tr
      %td= newstext.content
      %td= newstext.title
      %td= newstext.language
      %td= newstext.news_id
      %td= link_to 'Show', newstext
      %td= link_to 'Edit', edit_newstext_path(newstext)
      %td= link_to 'Destroy', newstext, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Newstext', new_newstext_path
