%p#notice= notice

%p
  %b Content:
  = @newstext.content
%p
  %b Title:
  = @newstext.title
%p
  %b Language:
  = @newstext.language
%p
  %b News:
  = @newstext.news_id

= link_to 'Edit', edit_newstext_path(@newstext)
\|
= link_to 'Back', newstexts_path
