%p#notice= notice

%p
  %b Description:
  = @description.description
%p
  %b Language:
  = @description.language

= link_to 'Edit', edit_description_path(@description)
\|
= link_to 'Back', descriptions_path
