%p#notice= notice

%p
  %b Numberstreet:
  = @address.numberStreet
%p
  %b Complement:
  = @address.complement
%p
  %b Street:
  = @address.street
%p
  %b City:
  = @address.city
%p
  %b Country:
  = @address.country
%p
  %b Zipcode:
  = @address.zipcode

= link_to 'Edit', edit_address_path(@address)
\|
= link_to 'Back', addresses_path
