= form_for @access do |f|
  - if @access.errors.any?
    #error_explanation
      %h2= "#{pluralize(@access.errors.count, "error")} prohibited this access from being saved:"
      %ul
        - @access.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :group_id
    = f.number_field :group_id
  .field
    = f.label :controllerName
    = f.text_field :controllerName
  .field
    = f.label :actionName
    = f.text_field :actionName
  .actions
    = f.submit 'Save'
