%p#notice= notice

%p
  %b Group:
  = @access.group_id
%p
  %b Controllername:
  = @access.controllerName
%p
  %b Actionname:
  = @access.actionName

= link_to 'Edit', edit_access_path(@access)
\|
= link_to 'Back', accesses_path
