= form_for @proposition do |f|
  - if @proposition.errors.any?
    #error_explanation
      %h2= "#{pluralize(@proposition.errors.count, "error")} prohibited this proposition from being saved:"
      %ul
        - @proposition.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :artist_id
    = f.number_field :artist_id
  .field
    = f.label :album_id
    = f.number_field :album_id
  .field
    = f.label :state
    = f.number_field :state
  .field
    = f.label :date_posted
    = f.datetime_select :date_posted
  .actions
    = f.submit 'Save'
