%h1 Listing propositions

%table
  %tr
    %th Artist
    %th Album
    %th State
    %th Date posted
    %th
    %th
    %th

  - @propositions.each do |proposition|
    %tr
      %td= proposition.artist_id
      %td= proposition.album_id
      %td= proposition.state
      %td= proposition.date_posted
      %td= link_to 'Show', proposition
      %td= link_to 'Edit', edit_proposition_path(proposition)
      %td= link_to 'Destroy', proposition, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Proposition', new_proposition_path
