%p#notice= notice

%p
  %b Artist:
  = @proposition.artist_id
%p
  %b Album:
  = @proposition.album_id
%p
  %b State:
  = @proposition.state
%p
  %b Date posted:
  = @proposition.date_posted

= link_to 'Edit', edit_proposition_path(@proposition)
\|
= link_to 'Back', propositions_path
