%h1 Listing commentaries

%table
  %tr
    %th Author
    %th Content
    %th Create at
    %th
    %th
    %th

  - @commentaries.each do |commentary|
    %tr
      %td= commentary.author_id
      %td= commentary.content
      %td= commentary.create_at
      %td= link_to 'Show', commentary
      %td= link_to 'Edit', edit_commentary_path(commentary)
      %td= link_to 'Destroy', commentary, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Commentary', new_commentary_path
