%h1 Listing musics

%table
  %tr
    %th User
    %th Album
    %th Title
    %th Duration
    %th Style
    %th Price
    %th File
    %th Limited
    %th
    %th
    %th

  - @musics.each do |music|
    %tr
      %td= music.user_id
      %td= music.album_id
      %td= music.title
      %td= music.duration
      %td= music.style
      %td= music.price
      %td= music.file
      %td= music.limited
      %td= link_to 'Show', music
      %td= link_to 'Edit', edit_music_path(music)
      %td= link_to 'Destroy', music, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Music', new_music_path
