%h2 Sign up
.row
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    .row
      .contain-to-grid
        .large-12.small-8.columns
          .panel
            %h3.subheader
              Informations Public
            .row
              .large-3.small-3.columns
                = f.label :username, "{{ labels.DISPLAY_SIGNUP_USERNAME_LABEL }}", :class => "right inline"
              .small-9.columns
                = f.text_field :username, :class => "radius"
            .row
              .large-3.small-3.columns
                = f.label :description, "{{ labels.DISPLAY_SIGNUP_DESCRIPTION_LABEL }}", :class => "right inline"
              .small-9.columns
                = f.text_area :description, :class => "radius"
            .row
              .large-3.small-3.columns
                = f.label :birthday, "{{ labels.DISPLAY_SIGNUP_BIRTHDAY_LABEL }}", :class => "right inline"
              .small-9.columns
                .clearfix
                  = f.date_select :birthday, { start_year: 1900, end_year: 2010, :use_two_digit_numbers => true, order: [:day, :month, :year] }, { :class => "medium-4 columns radius" }
            .row
              .large-3.small-3.columns
                = f.label :facebook, "{{ labels.DISPLAY_SIGNUP_FACEBOOK_LABEL }}", :class => "right inline"
              .small-9.columns
                = f.text_field :facebook, :class => "radius"
            .row
              .large-3.small-3.columns
                = f.label :twitter, "{{ labels.DISPLAY_SIGNUP_TWITTER_LABEL }}", :class => "right inline"
              .small-9.columns
                = f.text_field :twitter, :class => "radius"
            .row
              .large-3.small-3.columns
                = f.label :googlePlus, "{{ labels.DISPLAY_SIGNUP_GPLUS_LABEL }}", :class => "right inline"
              .small-9.columns
                = f.text_field :googlePlus, :class => "radius"
            %h3.subheader
              Informations Personnel
            .row
              .large-3.small-3.columns
                = f.label :fname, "{{ labels.DISPLAY_SIGNUP_FIRSTNAME_LABEL }}", :class => "right inline"
              .small-9.columns
                = f.text_field :fname, :class => "radius"
            .row
              .large-3.small-3.columns
                = f.label :lname, "{{ labels.DISPLAY_SIGNUP_LASTNAME_LABEL }}", :class => "right inline"
              .small-9.columns
                = f.text_field :lname, :class => "radius"
            .row
              .large-3.small-3.columns
                = f.label :password, "{{ labels.DISPLAY_SIGNUP_PASSWORD_LABEL }}", :class => "right inline"
              .small-9.columns
                = f.text_field :password, :type => "password", :class => "radius"
            .row
              .large-3.small-3.columns
                = f.label :email, "{{ labels.DISPLAY_SIGNUP_EMAIL_LABEL }}", :class => "right inline"
              .small-9.columns
                = f.text_field :email, :class => "radius"
            .row
              .large-3.small-3.columns
                = f.label :phoneNumber, "{{ labels.DISPLAY_SIGNUP_PHONE_LABEL }}", :class => "right inline"
              .small-9.columns
                = f.text_field :phoneNumber, :class => "radius"
            .row
              .large-3.small-3.columns
                = f.label :newsletter, "{{ labels.DISPLAY_SIGNUP_NEWSLETTER_LABEL }}", :class => "right inline"
              .small-9.columns
                = f.check_box :newsletter, :class => "radius"
            .actions
              .large-4.columns.large-centered
                = f.submit 'Sign up', :class => "button radius expand success"
= render "devise/shared/links"