%h1 Listing albums

%table
  %tr
    %th User
    %th Title
    %th Style
    %th Price
    %th File
    %th Yearprod
    %th
    %th
    %th

  - @albums.each do |album|
    %tr
      %td= album.user_id
      %td= album.title
      %td= album.style
      %td= album.price
      %td= album.file
      %td= album.yearProd
      %td= link_to 'Show', album
      %td= link_to 'Edit', edit_album_path(album)
      %td= link_to 'Destroy', album, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Album', new_album_path
