%p#notice= notice

%p
  %b To user:
  = @gift.to_user
%p
  %b From user:
  = @gift.from_user
%p
  %b Typeobj:
  = @gift.typeObj
%p
  %b Obj:
  = @gift.obj_id

= link_to 'Edit', edit_gift_path(@gift)
\|
= link_to 'Back', gifts_path
