%h1 Listing flacs

%table
  %tr
    %th Music
    %th File
    %th
    %th
    %th

  - @flacs.each do |flac|
    %tr
      %td= flac.music_id
      %td= flac.file
      %td= link_to 'Show', flac
      %td= link_to 'Edit', edit_flac_path(flac)
      %td= link_to 'Destroy', flac, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Flac', new_flac_path
