= form_for @battle do |f|
  - if @battle.errors.any?
    #error_explanation
      %h2= "#{pluralize(@battle.errors.count, "error")} prohibited this battle from being saved:"
      %ul
        - @battle.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :date_begin
    = f.datetime_select :date_begin
  .field
    = f.label :date_end
    = f.datetime_select :date_end
  .field
    = f.label :artist_one_id
    = f.number_field :artist_one_id
  .field
    = f.label :artist_two_id
    = f.number_field :artist_two_id
  .actions
    = f.submit 'Save'
