%h2
.row
  .small-6.small-centered.columns
    .panel.login
      .social-button
        - if devise_mapping.omniauthable?
          - resource_class.omniauth_providers.each do |provider|
            = link_to "#{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider), class: "button round small"
      .divider
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          = f.email_field :email, :class => "radius", :placeholder => "Courrier Electronique", :autofocus => "true"
        .field
          = f.password_field :password, :class => "radius", :placeholder => "Mot de Passe"
        .left
          - if devise_mapping.rememberable?
            .field
              = f.check_box :remember_me
              = f.label :remember_me
        .right
          - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
            = link_to "Forgot your password?", new_password_path(resource_name)
        .actions
          = f.submit 'Se Connecter', :class => "button expand radius"
      .divider
      .links
        = render "devise/shared/links"